# Data Science Tools and Ecosystem

In this notebook we are going to summarize the Data Science Tools and Ecosystem, which will be very useful for us throughout this course.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    </ol>

__Objectvies__:
<ul>
    <li>To add markdown</li>
    <li>To add the Headline in markdown</li>
    <li>List popular languages for Data Science</li>
    <li>Commonly used libraries used by Data Scientists</li>
    </ul>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Keras</li>
    <li>Pandas</li>
    <li>PyTorch</li>
    <li>SciPy</li>
    </ol>

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hegde Vijay Suryanarayana